.homepage-search-bar__wrapper{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    
}

.homepage-search-bar__input{
    font-size: 12px;
    outline: none;
    width: 70%;
    padding: 5px 10px;

    border: .1px solid #bebebe;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: none;
}
.homepage-search-icon__btn{
    cursor: pointer;
    background-color: transparent;
    border: .1px solid #bebebe;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: none;
    padding: 5px 10px;
}


.homepage-filter__ul{
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-top: 20px;
    list-style: none;
}

.homepage-filter__ul li button{
    font-size: 12px;
    color: #929292;
}

.display-page__wrapper{
    padding: 20px;
}

.display-page-cards-container__wrapper{
    display: grid;
    grid-template-rows: repeat(2,70px);
    grid-auto-flow: column;
    grid-auto-columns: 120px;
    gap: 5px;

    overflow-x: auto;
    overflow-y: hidden;
}

.display-page-card__wrapper{
    background-color: #FA6737;
    color: #fff;
    padding: 5px;
    width: 120px;

    border-radius: 10px;
}

.display-page-card__wrapper p{
    font-size: 10px;
}