.homepage-search-bar__wrapper{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    
}

.homepage-search-bar__input{
    font-size: 12px;
    outline: none;
    width: 70%;
    padding: 5px 10px;

    border: .1px solid #bebebe;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: none;
}
.homepage-search-icon__btn{
    cursor: pointer;
    background-color: transparent;
    border: .1px solid #bebebe;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: none;
    padding: 5px 10px;
}


.homepage-filter__ul{
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-top: 20px;
    list-style: none;
}


.unactiveFilter{
    font-size: 12px;
    color: #929292;
}

.activeFilter{
    font-weight: bold;
    font-size: 12px;
    color: #202020;
}


.display-page__wrapper{
    padding: 20px;
}

.display-page-cards-container__wrapper{
    display: grid;
    grid-template-rows: repeat(2,100px);
    grid-auto-flow: column;
    grid-auto-columns: 150px;
    gap: 10px;

    overflow-x: auto;
    overflow-y: hidden;
}
.display-newAdded-page-cards-container__wrapper{
    display: grid;
    grid-template-rows: repeat(1,100%);
    grid-auto-flow: column;
    grid-auto-columns: 150px;
    gap: 10px;

    overflow-x: auto;
    overflow-y: hidden;

    height:100%;
    padding: 10px;
    border-radius: 10px;
    background-color: #FA6737;
}

.display-page-card__wrapper{
    /* background-color: #FA6737;
    color: #fff; */
    width: 150px;
    
}

.newAdded-card-shopName__text{
    color: #fff;
}
.card-shopName__text{
    color: #FA6737;
}

/* .display-page-card__wrapper p{
    background-color: #FA6737;
    color: #fff;
    padding: 5px;
    font-size: 10px;
    border-radius: 10px;

    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    height: 60px;
} */

.newAdded-card-title__text{
    font-size: 10px;
    font-weight: 300;
    color: #fff;
}

.newAdded-card-description__text{
    margin-top: 5px;
    font-size: 10px;
    color: #eee9e9;

}

.card-title__text{
    font-size: 10px;
    font-weight: bold;
}

.card-description__text{
    margin-top: 5px;
    font-size: 10px;
    color: #838383;
}


.cafes-content__wrapper{
    border-bottom: 1px solid #bebebe;
    padding-bottom: 10px;
    margin-top: 20px;
    width: 70%;
}
.restaurant-content__wrapper{
    border-bottom: 1px solid #bebebe;
    padding-bottom: 10px;
    margin-top: 20px;
    width: 70%;
}
.bakery-content__wrapper{
    border-bottom: 1px solid #bebebe;
    padding-bottom: 10px;
    margin-top: 20px;
    width: 70%;
}

.unactiveCafeFilter{
    font-size: 12px;
    color: #929292;
}

.activeCafeFilter{
    font-weight: bold;
    font-size: 12px;
    color: #FA6737;
}