.homepage-search-bar__wrapper{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    
}

.homepage-search-bar__input{
    font-size: 12px;
    outline: none;
    width: 70%;
    padding: 5px 10px;

    border: .1px solid #bebebe;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: none;
}
.homepage-search-icon__btn{
    cursor: pointer;
    background-color: transparent;
    border: .1px solid #bebebe;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: none;
    padding: 5px 10px;
}


.homepage-filter__ul{
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-top: 20px;
    list-style: none;
}


.unactiveFilter{
    font-size: 12px;
    color: #929292;
}

.activeFilter{
    font-weight: bold;
    font-size: 12px;
    color: #202020;
}

.homepage-decision__text{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 10px;
    font-weight: bold;
}

.homepage-decision__btn{
    font-size: 10px;
    font-weight: bold;

    cursor: pointer;

    width: 140px;
    padding: 2px 10px;
    margin-top: 5px;
    
    border-radius: 50px;
    border: 1px solid #FA6737;
    color: #fff;
    background-color: #FA6737;
}


.display-page__wrapper{
    padding: 20px;
}

.display-default-page-cards-container__wrapper{
    display: grid;
    grid-template-rows: repeat(2,100px);
    grid-auto-flow: column;
    grid-auto-columns: 150px;
    gap: 10px;

    padding-top: 10px;
    overflow-x: auto;
    overflow-y: hidden;
}


.display-page-cards-container__wrapper{
    display: grid;
    grid-template-rows: repeat(1,100%);
    grid-auto-flow: column;
    grid-auto-columns: 150px;
    gap: 10px;

    overflow-x: auto;
    overflow-y: hidden;

    height:100%;
    padding-top: 10px;
    border-radius: 10px;
}


.display-newAdded-page-cards-container__wrapper{
    display: grid;
    grid-template-rows: repeat(1,100%);
    grid-auto-flow: column;
    grid-auto-columns: 150px;
    gap: 10px;

    overflow-x: auto;
    overflow-y: hidden;

    height:100%;
    padding: 10px;
    border-radius: 10px;
    background-color: #FA6737;
}

.display-page-card__wrapper{
    /* background-color: #FA6737;
    color: #fff; */
    width: 150px;
    
}

.main-display-page-card-loading__wrapper{
    position:absolute;
    left:10px;
    width: 100%;
}


.page-card-main-loading__wrapper{
    background-color:#ccccccb4;
    margin:0 0 10px 10px;
    width: 88%;
    height: 100px;
    border-radius: 10px;

    animation: loadingSkeletonAnimation 1s infinite;
}
.page-card-small-loading__wrapper{
    background-color:#ccccccb4;
    margin:0 0 10px 10px;
    width: 88%;
    height: 30px;
    border-radius: 10px;

    animation: loadingSkeletonAnimation 1s infinite;
}

.page-card-picture-loading__wrapper{
    background-color:#ccccccb4;
    width: 100px;
    height: 50px;

    animation: loadingSkeletonAnimation 1s infinite;
}

.page-card-description-loading__wrapper{
    margin-top: 5px;
    background-color:#ccccccb4;
    width: 100px;
    height: 20px;

    animation: loadingSkeletonAnimation 1s infinite;
}



.newAdded-card-shopName__text{
    text-decoration: underline;
    color: #fff;
}
.card-shopName__text{
    color: #FA6737;
}
.link-card-shopName__text{
    color: #FA6737;
    text-decoration: underline;
}

/* .display-page-card__wrapper p{
    background-color: #FA6737;
    color: #fff;
    padding: 5px;
    font-size: 10px;
    border-radius: 10px;

    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    height: 60px;
} */

.newAdded-card-title__text{
    font-size: 10px;
    font-weight: 300;
    color: #fff;
}

.newAdded-card-description__text{
    margin-top: 5px;
    font-size: 10px;
    color: #eee9e9;

}

/* --------------------------Quick Filter Page---------------------- */

.quick-filter__wrapper{
    display: grid;
    grid-template-columns: repeat(2, 150px);
    gap: 5px;

    overflow-y: hidden;
    overflow-x: auto;

    background-color: #fde5dd;
    border-radius: 10px;
    padding: 10px;
}

.quick-filter__btns {
    display: flex;
    align-items: center;
    gap: 2px;

    color: #FA6737;

    font-weight: bold;
    font-size: 10px;
    width: 150px;
    text-align: start;

    border: none;
    background-color: transparent;
    cursor: pointer;

    /* animation: colorBreathing 4s ease-in-out infinite; */
}

.quick-filter__icon{
    color: #FA6737;
    /* animation: colorBreathing 4s ease-in-out infinite; */
}

/* @keyframes colorBreathing {
    0% {
        color: #FA6737;
    }

    50% {
        color: #f7c1b0;
    }

    100% {
        color: #FA6737;
    }
} */

/* --------------------------Quick Filter Page---------------------- */
.card-title__text{
    font-size: 10px;
    font-weight: bold;
}

.card-description__text{
    margin-top: 5px;
    font-size: 10px;
    color: #838383;
}


.cafes-content__wrapper{
    border-bottom: 1px solid #bebebe;
    padding-bottom: 10px;
    margin-top: 20px;
    width: 70%;
}
.restaurant-content__wrapper{
    border-bottom: 1px solid #bebebe;
    padding-bottom: 10px;
    margin-top: 20px;
    width: 70%;
}
.bakery-content__wrapper{
    border-bottom: 1px solid #bebebe;
    padding-bottom: 10px;
    margin-top: 20px;
    width: 70%;
}

.unactiveCafeFilter{
    font-size: 12px;
    color: #929292;
}

.activeCafeFilter{
    font-weight: bold;
    font-size: 12px;
    color: #FA6737;
}


.active-deal{
    margin-top:5px;
    font-size: 9px;
    color: limegreen;
    font-weight: bold;
}

.not-active-deal{
    margin-top:5px;
    font-size: 9px;
    color: red;
    font-weight: bold;
}

.next-deals__btn{
    display: flex;
    align-items: center;
    margin-top: 2px;

    cursor: pointer;
    font-size: 10px;
    background-color: transparent;
    border: none;
}