.map-container__wrapper{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
        
    height: 80%;
    width: 70%;
    padding: 10px;
    border-radius: 20px;
    background-color: #DBD2E0;
}

.map-actions-container__wrapper{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 0);
        
    height: 5%;
    width: 70%;
    padding: 10px;
    border-radius: 15px;
    background-color: #DBD2E0;
}

.actions__wrapper{
    display: flex;
    align-items: center;
    gap: 50px;
}

.incident-report__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    cursor: pointer;
    height: 100%;
    width: 27%;
    padding: 5px;
    border: none;
    border-radius: 7px;
    background-color: #273B09;
    color: #ffff;
}

.traffic__btn{

    height: 30px;
    width: 30px;
    border: none;
    border-radius: 50%;
    background-color: #E1B32B; 
    cursor: pointer;
}

.accident__btn{
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 50%;
    background-color: #EA526F;
    cursor: pointer;
}

.hazard__btn{
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 50%;
    background-color: #F18F01;
    cursor: pointer;
}

.police__btn{
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 50%;
    background-color: #2E86AB;
    cursor: pointer;
}

.close__btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.expanded{
    opacity: 1;
}

.not-expanded{
    cursor: default;
    opacity: 0;
}


/* LEAFLET MAP CONTAINER */

.leaflet-container{
    height: 100%;
    width: 100%;
}