.map-container__wrapper{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
        
    height: 80%;
    width: 70%;
    padding: 10px;
    border-radius: 20px;
    background-color: #DBD2E0;
}

.map-actions-container__wrapper{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 0);
        
    width: 70%;
    padding: 10px;
    border-radius: 15px;
    background-color: #DBD2E0;
}

.filter__wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

.filter__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 2px 10px;

    cursor: pointer;

    color: #007000;
    font-weight: bold;
    font-size: 12px;

    background-color: #a2c5a291;
    border: none;
    border-radius: 5px;
}

.shopFilter{
    position: absolute;
    top: -127px;
    left: -20px;
}

.expiryFilter{
    position: absolute;
    top: -80px;
    left: 100px;
}

.locationFilter{
    position: absolute;
    top: -418px;
    left: 220px;
}

.filter-open__wrapper{
    display: flex;
    justify-content: center;

    /* height: 100px; */
    width: 150px;
    padding: 10px;
    
    border-radius: 5px;
    background-color: #DBD2E0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.filter-open__ul{
    list-style: none;
}
.filter-open__ul li{
    margin-bottom: 10px;
}


.filter-open__btn{
    width: 100%;

    cursor: pointer;

    display: flex;
    gap: 5px;
    align-items: center;

    background-color: transparent;
    border: none;
    padding: 1px 5px;
    border-radius: 5px;
}

.filter-open-chosen__btn{
    font-weight: bold;
    background-color: #b1b1b16e;
}

/* LEAFLET MAP CONTAINER */

.leaflet-container{
    height: 100%;
    width: 100%;
}