.new-deals-container__wrapper{
    height: 150px;
    width: 85%;
    margin:5px 0 0 10px;
    padding: 10px;
    border-radius: 20px;
    
    background-color: #DBD2E0;
}

.new-deals__ul{
    list-style: none;
    margin-top: 5px;
    height: 105px;
    overflow: auto;
}

.new-deals__ul li {
    font-size: 12px;
    margin: 0 0 10px 10px;
   
}

.new-deals__ul li button{
    padding: 0 5px;
    text-align: start;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #a2c5a291;
    color: #007000;
    font-weight: bold;
    font-size: 12px;
    
    cursor: pointer;
}

.new-deals__ul li button:hover{
    background-color: #a2c5a2;
}