@media(max-width:1879px){
    .feed-view-container__wrapper{
    grid-template-columns: repeat(4, 400px);
    gap: 35px;
}
}

@media(max-width:1727px){
    .feed-view-container__wrapper{
    grid-template-columns: repeat(4, 300px);
    gap: 35px;
}

.feed-card__wrapper{

    
    width: 300px;
    height: 200px;
}
}

@media(max-width:1335px){
    .feed-view-container__wrapper{
    grid-template-columns: repeat(4, 200px);
    gap: 35px;
}

.feed-card__wrapper{

    
    width: 200px;
    height: 200px;
}
}

@media(max-width:943px){
    .feed-view-container__wrapper{
    grid-template-columns: repeat(5, 150px);
    gap: 10px;
}

.feed-card__wrapper{
    width: 150px;
    height: 200px;
    overflow: auto;
}

.hero-container-title__wrapper h1{
    font-size: 40px;
}

.hero-c2a__wrapper{
    background-color: #FA6737;
    width: 60%;
    height: 100px;
    
}

.hero-c2a-map__btn{
    font-size: 12px;
}

.hero-icon{
    size: 15;
}

.hero-c2a-feed__btn{
    font-size: 12px;
}

}

@media(max-width:823px){
    .feed-view-container__wrapper{
    grid-template-columns: repeat(4, 150px);
    gap: 10px;
}

}

@media (max-width: 680px){

.map-container__wrapper{
    height: 67%;
}

    .small-sections-container__wrapper{
    margin-left: 0;
    display: flex;
    justify-content: space-evenly;
}

.map-actions-container__wrapper{
    bottom: 3%;
    left: 50%;
    transform: translate(-50%, 0);
}


    .feed-view-container__wrapper{
    grid-template-columns: repeat(2, 200px);
    gap: 20px;
}

.feed-card__wrapper{

    
    width: 200px;
    height: 200px;
}



.hero-c2a-map__btn{
    font-size: 10px;
    height: 30px;
}

.hero-icon{
    size: 15;
}

.hero-c2a-feed__btn{
    font-size: 10px;
    height: 30px;
}
}

@media (max-width:550px){

    .map-actions-container__wrapper{
         position: absolute;
        bottom: 1%;
    
        width: 100%;
    }

    .filter__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.map-container__wrapper{
    position: absolute;
    top: 59.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 65%;
    width: 100vw;
    padding: 0px;
    border-radius: 20px;
    background-color: #DBD2E0;
}

.small-sections__wrapper{

    position: absolute;
    top: 40px;
    left:2px;
    width: 100%;
}

.leaflet-container{
    width: 100%;
}

.new-deals__ul{
    height: 125px;
}

.deals-near-you__ul{
    height: 125px;
}

.deals-near-you__ul li button{
    font-size: 9px;
    padding: 8px;
    width:140px;
}

.new-deals__ul li button{
    height:65px;
    font-size: 9px;
    width:140px;
}

.small-section__header{
    font-size: 13px;
}

.hero-container-title__wrapper h1{
    font-size: 30px;
}

.hero-c2a__wrapper{
    display: block;
    width: 60%;
    height: 100%;
}

.hero-c2a-map__btn{
   margin:0 auto;
   font-size: 12px;
}

.hero-c2a-feed__btn{
    margin:0 auto;
   font-size: 12px;
}

.stepbystep-graphics__wrapper{
    margin-top: 60px;
}

}

@media(max-width:450px){
        .feed-view-container__wrapper{
    grid-template-columns: repeat(1, 100%);
    gap: 20px;
}

.feed-card__wrapper{

    
    width: 100%;
    height: 200px;
}

.hero-c2a__wrapper{
    display: block;
    width: 60%;
    
}

.hero-c2a-map__btn{
   text-align: center;
   font-size: 10px;
}

.hero-c2a-feed__btn{
    text-align: center;
   font-size: 10px;
}

.stepbystep-cards__wrapper{
    width: 150px;
    text-align: center;
}
.stepbystep-cards__wrapper p{
    font-size: 9px;
    margin-top: 10px;
}

.stepbystep-cards__wrapper h3{
    font-size: 12px;
}
.graphics__img{
    width: 100px;
}
}

@media (max-width:385px){

    .deals-near-you__ul li button{
    height: 70%;
    width: 120px;
    font-size: 7px;
}

.new-deals__ul li button{
    height: 70%;
    width: 120px;
    font-size: 7px;
}

.new-deals__ul{
        height: 88%;
    }

.deals-near-you__ul{
    height: 88%;
}


.deals-near-you__ul li {
    height: 100%;
}



    .map-container__wrapper{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60%;
}

.filter__btn{
    font-size: 9px;

    border: none;
    border-radius: 5px;
}


.hero-c2a__wrapper{
    display: block;
    width: 60%;
    
}

.hero-c2a-map__btn{
   text-align: center;
   font-size: 10px;
}

.hero-c2a-feed__btn{
    text-align: center;
   font-size: 10px;
}

.stepbystep-graphics__wrapper{
    margin-top: 60px;
}

.stepbystep-cards__wrapper{
    width: 150px;
}

.stepbystep-cards__wrapper h3{
    font-size: 11px;
}
.stepbystep-cards__wrapper p{
    font-size: 8px;
}

.graphics__img{
    width: 100px;
}

}