@media(max-width:1879px){
    .feed-view-container__wrapper{
    grid-template-columns: repeat(4, 400px);
    gap: 35px;
}
}

@media(max-width:1727px){
    .feed-view-container__wrapper{
    grid-template-columns: repeat(4, 300px);
    gap: 35px;
}

.feed-card__wrapper{

    
    width: 300px;
    height: 200px;
}
}

@media(max-width:1335px){
    .feed-view-container__wrapper{
    grid-template-columns: repeat(4, 200px);
    gap: 35px;
}

.feed-card__wrapper{

    
    width: 200px;
    height: 200px;
}
}

@media(max-width:943px){
    .feed-view-container__wrapper{
    grid-template-columns: repeat(5, 150px);
    gap: 10px;
}

.feed-card__wrapper{
    width: 150px;
    height: 200px;
    overflow: auto;
}

.hero-container-title__wrapper h1{
    font-size: 40px;
}

.hero-c2a__wrapper{
    background-color: #FA6737;
    width: 60%;
    height: 100px;
    
}

.hero-c2a-map__btn{
    font-size: 12px;
}

.hero-icon{
    size: 15;
}

.hero-c2a-feed__btn{
    font-size: 12px;
}

}

@media(max-width:823px){
    .feed-view-container__wrapper{
    grid-template-columns: repeat(4, 150px);
    gap: 10px;
}

}

@media (max-width: 680px){

.map-container__wrapper{
    height: 67%;
}

    .small-sections-container__wrapper{
    margin-left: 0;
    display: flex;
    justify-content: space-evenly;
}

.map-actions-container__wrapper{
    bottom: 3%;
    left: 50%;
    transform: translate(-50%, 0);
}


    .feed-view-container__wrapper{
    grid-template-columns: repeat(2, 200px);
    gap: 20px;
}

.feed-card__wrapper{

    
    width: 200px;
    height: 200px;
}



.hero-c2a-map__btn{
    font-size: 10px;
    height: 30px;
}

.hero-icon{
    size: 15;
}

.hero-c2a-feed__btn{
    font-size: 10px;
    height: 30px;
}
}

@media (max-width:550px){

    .map-actions-container__wrapper{
         position: absolute;
        bottom: 1%;
    
        width: 100%;
    }

    .filter__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.map-container__wrapper{
    position: absolute;
    top: 59.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 65%;
    width: 100vw;
    padding: 0px;
    border-radius: 20px;
    background-color: #DBD2E0;
}

.small-sections-container__wrapper{

    position: absolute;
    top: 40px;
    left:2px;
    width: 100%;
}

.leaflet-container{
    width: 100%;
}

.new-deals__ul{
    height: 125px;
}

.deals-near-you__ul{
    height: 125px;
}

.aesthetic__ul{
    height: 125px;
}

.deals-near-you__ul li button{
    font-size: 9px;
    padding: 8px;
    width:140px;
}

.new-deals__ul li button{
    height:65px;
    font-size: 9px;
    padding: 8px;
    width:140px;
}

.aesthetic__ul li button{
    height: 65px;
    font-size: 9px;
    padding: 8px;
    width: 140px;
}

.small-section__header{
    font-size: 13px;
}

.hero-container-title__wrapper h1{
    font-size: 30px;
}

.hero-c2a__wrapper{
    display: block;
    width: 60%;
    height: 100%;
}

.hero-c2a-map__btn{
   margin:0 auto;
   font-size: 12px;
}

.hero-c2a-feed__btn{
    margin:0 auto;
   font-size: 12px;
}

.stepbystep-graphics__wrapper{
    margin-top: 60px;
}

}

@media(max-width:450px){
        .feed-view-container__wrapper{
    grid-template-columns: repeat(1, 100%);
    gap: 20px;
}

.feed-card__wrapper{

    
    width: 100%;
    height: 200px;
}

.hero-c2a__wrapper{
    display: block;
    width: 60%;
    
}

.hero-c2a-map__btn{
   text-align: center;
   font-size: 10px;
}

.hero-c2a-feed__btn{
    text-align: center;
   font-size: 10px;
}

.stepbystep-cards__wrapper{
    width: 150px;
    text-align: center;
}
.stepbystep-cards__wrapper p{
    font-size: 9px;
    margin-top: 10px;
}

.stepbystep-cards__wrapper h3{
    font-size: 12px;
}
.graphics__img{
    width: 100px;
}

/* -------------------------------map container---------------------- */
.map-container__wrapper{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
        
    height: 100%;
    width: 100%;
    z-index:1;
}

.leaflet-container{
    height: 100%;
    z-index:1;
}

.map-search__wrapper{
    width:69%;
    background-color:#fff;
    border-radius: 8px;
    padding: 5px 10px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    border: .5px solid #2020206e;
}

.map-search__text{
    border: none;
    background-color: transparent;
    width: 235px;
   
    outline: none;
}

.hotspots-map-logo__img{
    width: 70px;
    padding: 10px;
}

.hotspots-map-mobile-header__wrapper{
    position:absolute;

    display: flex;
    align-items: center;
    gap:10px;

    width: 100%;

    z-index:5;
}


.small-sections-container__wrapper{
    display: block;
}


/* -------------------------------map actions container---------------------- */
.map-actions-container__wrapper{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);

    display: flex;
    justify-content: center;
    align-items: center;
        
    width: 90%;
    height: 50px;
    border-radius: 10px;
    margin-top: 10px;

    z-index: 6;
}


.shopFilter{
    position: absolute;
    top:65px;
    left: 0px;

}

.expiryFilter{
    position: absolute;
    top:65px;
    left: 130px;
}

.locationFilter{
    position: absolute;
    top:65px;
    left: 200px;
}

.filter__btn{
    font-size: 11px;

}
/* -------------------------------map actions container---------------------- */


.deals-near-you-container__wrapper{
    position: absolute;
    top: 130px;
    left: 0%;

    width:100%;
    border-radius:0;
    background-color: #f1e3de;

    z-index: 3;
}

.aesthetic-container__wrapper{
    position: absolute;
    top: 300px;
    left: 0;
    width: 100%;
    border-radius: 0;
    
    background-color: #f1e3de;

    z-index: 3;
}

.new-deals-container__wrapper{
    position: absolute;
    top: 470px;
    left: 0%;
    width:100%;
    border-radius:0;
    background-color: #f1e3de;
    z-index: 3;
}

}

@media (max-width:385px){

    .deals-near-you__ul li button{
    height: 70%;
    width: 120px;
    font-size: 7px;
}

.new-deals__ul li button{
    height: 70%;
    width: 120px;
    font-size: 7px;
}

.new-deals__ul{
        height: 88%;
    }

.deals-near-you__ul{
    height: 88%;
}


.deals-near-you__ul li {
    height: 100%;
}





.filter__btn{
    font-size: 9px;

    border: none;
    border-radius: 5px;
}



.hero-c2a__wrapper{
    display: block;
    width: 60%;
    
}

.hero-c2a-map__btn{
   text-align: center;
   font-size: 10px;
}

.hero-c2a-feed__btn{
    text-align: center;
   font-size: 10px;
}

.stepbystep-graphics__wrapper{
    margin-top: 60px;
}

.stepbystep-cards__wrapper{
    width: 150px;
}

.stepbystep-cards__wrapper h3{
    font-size: 11px;
}
.stepbystep-cards__wrapper p{
    font-size: 8px;
}

.graphics__img{
    width: 100px;
}

.locationFilter{
    position: absolute;
    top:65px;
    left: 150px;
}

}

/* @media(max-width:450px){
        .feed-view-container__wrapper{
    grid-template-columns: repeat(1, 100%);
    gap: 20px;
}

.feed-card__wrapper{

    
    width: 100%;
    height: 200px;
}

.hero-c2a__wrapper{
    display: block;
    width: 60%;
    
}

.hero-c2a-map__btn{
   text-align: center;
   font-size: 10px;
}

.hero-c2a-feed__btn{
    text-align: center;
   font-size: 10px;
}

.stepbystep-cards__wrapper{
    width: 150px;
    text-align: center;
}
.stepbystep-cards__wrapper p{
    font-size: 9px;
    margin-top: 10px;
}

.stepbystep-cards__wrapper h3{
    font-size: 12px;
}
.graphics__img{
    width: 100px;
}
} */

/* @media (max-width:385px){

    .deals-near-you__ul li button{
    height: 70%;
    width: 120px;
    font-size: 7px;
}

.new-deals__ul li button{
    height: 70%;
    width: 120px;
    font-size: 7px;
}

.new-deals__ul{
        height: 88%;
    }

.deals-near-you__ul{
    height: 88%;
}


.deals-near-you__ul li {
    height: 100%;
}



    .map-container__wrapper{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60%;
}

.filter__btn{
    font-size: 9px;

    border: none;
    border-radius: 5px;
}


.hero-c2a__wrapper{
    display: block;
    width: 60%;
    
}

.hero-c2a-map__btn{
   text-align: center;
   font-size: 10px;
}

.hero-c2a-feed__btn{
    text-align: center;
   font-size: 10px;
}

.stepbystep-graphics__wrapper{
    margin-top: 60px;
}

.stepbystep-cards__wrapper{
    width: 150px;
}

.stepbystep-cards__wrapper h3{
    font-size: 11px;
}
.stepbystep-cards__wrapper p{
    font-size: 8px;
}

.graphics__img{
    width: 100px;
}

} */